@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

/* Disable Edge/IE password reveal and clear buttons */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

label {
  user-select: none;
}